<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Surfly CRM integration</title>
</head>

<body>
    <div class="formbox">
        <!-- <form action=""{{ url_for('XmnyAf6aiAzXHpragpteeVmY') }}"" class="form" method="post"> -->
        <form class="form">
          <p class="name">
            <input name="sessionid" type="text" />
            <!-- <input name="sec" value="XmnyAf6aiAzXHpragpteeVmY" type="hidden" /> -->
          </p>
          <p class="submit">
            <input value="Join Session" type="submit" />
          </p>
        </form>
    </div>
</body>

</html>
